<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	
			
			<!--# with out the = sign, all below wouldn't work-->
			<%= form_for @post do |f| %>
				<!-- for validateion associated with post.rb -->
			    <% if @post.errors.any? %>
			      <div id="errors">
			      	<!-- pluralize any pass 2 ~ 3, 4, 6 etc, if not it will be errors -->
			        <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
				        <ul>
				          <% @post.errors.full_messages.each do |msg| %>
				            <li>
				            	<%= msg %>
				            </li>
				          <!-- end of @post.errors.full_messages.each do |msg|  -->
				          <% end %>
				        </ul>
			      </div>
				<!-- end of if validation function -->
				<% end %>

			    <%= f.label :title %><br>
			    <%= f.text_field :title %><br>
			    <br>
			    <%= f.label :body %><br>
			    <%= f.text_field :body %><br>
			    <br>
			    <%= f.submit %>
			    <!-- end of submit pass to db via posts_controller.rb -->
			    <% end %>
		</div>
	</div>
</div>