<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: images-url('');">
    <%= image_tag 'shaeffer-farm-orange.jpg', :class => "intro-header", :style => "position: absolute; left: 0px; top: -65%; right: auto; bottom: auto; min-height: 50%; width: 100%;"%>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Yu&sup2; Bike</h1>
                    <hr class="small">
                    <span class="subheading">Welcome to Yu&sup2; Bike
Welcome! We are just whole much of bozo heads just love biking, the great outdoors, our goal to save lifes by providing our awesome products.</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Main Content -->
<div class="container">

    <div class="row">
    <!-- loop for post @posts from post_controllers -->
	<% @posts.each do |post| %>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">

                <h2 class="post-title">
                <!-- with the equal sign (=) the line will not work<% link_to post.title, post %>-->
                <%= link_to post.title, post %>

                </h2>
				<p><%= post.body %></p>
		
				<p class="date">
					Submitted <%= time_ago_in_words post.created_at %> Ago<br/>
					<%= post.created_at.strftime("%B %d, %Y") %>
				</p>

			</div>				
		</div>
	<!-- the end of @post.each do |post| -->	
	<% end %>
	
    </div>
    <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <%= link_to "Older Posts", root_path %> <!--<a href="#">Older Posts &rarr;</a>-->
            </li>
        </ul>	
</div>
