<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<div class="navbar-brand"><%= link_to "YuSquare Bike", root_path %></div>-->
            <div class="navbar-brand">
                <%= link_to 'Yu&sup2; Bike', root_path %>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Home", root_path %>
                </li>
                <li>
                    <!-- link_to is related to routes.rb file, if you have about then the path def will be about_path, if you have aboutyu2bike then the path will be aboutyu2bike_path starts from "page controller" -->
                    <%= link_to "About Us", aboutyu2bike_path %>
                </li>
                <li>
                    <%= link_to "Blog", root_path %>
                </li>
                <li>
                    <%= link_to "Contact", root_path %>
                </li>
                <!-- Also, we only want to show the buttons in the header if the user is signed in,
                # so wrap that in an if statement-->
                <li>
                  <% if user_signed_in? %> 
                    <div class="buttons"> 
                      <!--<button class="button"><%= link_to "New Post", new_post_path %></button> -->
                      <%= link_to "Log Out", root_path %>
                    </div> 
                  <% end %> 
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>