<!DOCTYPE html>
<html>
<head>
  <title>YuSquare Bike (Yu&sup2; Bike) </title>
  <meta charset="ISO-8859-1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- when you use partial you will need to use the _filename.html.erb to use code line below -->
    <%= render 'layouts/navbar' %>

	<!-- main body stuff (content) -->
	<%= yield %>


    <%= render 'layouts/footer' %>

</body>

     
</html>
